.navbar {
    border: 2px solid black;
    box-shadow: 0 0 0.5em black;
    font-weight: bold;
    border-radius: 1px;
    font-family: 'Lato', sans-serif;
}

nav a img {
    width: 40px;
}

.navbar-brand {
    font-family: 'Supermercado One', cursive;
    font-size: 1.7em;
}

#login {
    font-weight: normal;
    margin-right: 15px;
    cursor: pointer;
}

#login:hover {
    font-weight: bold;
    color: purple;
}

.modal-body img {
    width: 100%;
}

.listagem {
    height: 80vh;
    display: grid;
    grid-template-areas: 
        "empty1 empty1 empty1"
        "empty2 buscar empty3"
        "empty2 cards empty3";
    grid-template-rows: 10% 10% 80%;
    grid-template-columns: 5% 90% 5%;
}

.buscar {
    grid-area: buscar;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.cards {
    grid-area: cards;
    text-align: center;
}

.card-columns {
    column-count: 1;
}

.buscar-profissional {
    width: 300px;
}

.estilo-musical {
    width: 250px;
}

.btn-primary {
    color: white;
}

.sem-registros {
    text-align: center;
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.sem-registros img {
    width: 100px;
}

.sem-registros p {
    margin-top: 30px;
    font-size: 1.2em;
}

@media (max-width: 414px) { 
    .buscar-profissional {
        width: 220px;
    }
}

@media (max-width: 575px) { 
    .botao-exibir-mais {
        text-align: left;
    }
}

@media (max-width: 587px) { 
    .caixa-busca-prof {
        margin-bottom: 10px;
    }
}

@media (max-width: 685px) { 
    .cards {
        margin-top: 60px;
    }
}