<!-- Modal login e anúncio -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="ModalLogin" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLogin">Ops!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="../../assets/images/em-construcao.JPG">
            </div>
        </div>
    </div>
</div>

<!--Página de lista-->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">
      <img src="../../assets/images/logo.png" class="d-inline-block align-top">
      easyMusic
    </a>
    <form [formGroup]="buscarNomeForm">
        <div class="input-group">
            <input type="text" class="form-control buscar-profissional" 
                    placeholder="Pesquise por bandas/artistas" aria-describedby="buscar-prof"
                    formControlName="nomeArtista">
            <div class="input-group-append">
                <button  class="btn btn-outline-secondary" type="button" id="buscar-prof"
                         (click)="carregarCardsNome()">
                    <img width="20" src="../../assets/images/lupa.png">
                </button>
            </div>
        </div>
    </form>
    <div class="form-inline ml-3">
        <a id="login" data-toggle="modal" data-target="#modalLogin">Login</a>
        <button type="button" class="btn btn-outline-primary" 
                data-toggle="modal" data-target="#modalLogin">Anuncie aqui!</button>
    </div>
</nav>
<div class="listagem">
    <div class="buscar">
        <form class="form-inline my-2 my-lg-0" [formGroup]="buscarEstiloForm">
            <div class="mr-3">Selecione o estilo musical:</div>
            <select class="form-control estilo-musical" formControlName="estiloMusical">
                <option selected disabled value="null">...</option>
                <option *ngFor="let estilo of estilosMusicais" [value]="estilo.nome">{{ estilo.label }}</option>
            </select>
            <button [disabled]="buscarEstiloForm.invalid" class="btn btn-outline-success my-2 my-sm-0 ml-3" 
                    (click)="pesquisar()">Pesquisar</button>
        </form>
    </div>
    <div class="cards card-columns">
        <div *ngFor="let art of artistas" class="card mr-3" style="width: 18em;">
            <img class="card-img-top" [src]="art.nomeImagem">
            <div class="card-body">
                <h5 class="card-title">{{ art.nome }}</h5>
                <p class="card-text">{{ art.descricao }}</p>
                <button data-toggle="modal" data-target="#modalLogin" class="btn btn-outline-info">Visitar</button>
            </div>
        </div>
        <div class="sem-registros" *ngIf="!artistas?.length">
            <img src="../../assets/images/sem-registros.jpg">
            <p>Não foram encontrados registros!</p>
        </div>
        <div class="mb-3" *ngIf="exibirMais">
            <button type="button" class="btn btn-dark" (click)="aumentarQuantidadeCards()">Exibir mais</button>
        </div>
    </div>
</div>
