<div class="pg-inicial">
  <div class="about-us">
    <img src="../assets/images/about.png">
  </div>
  <div class="camada-pesquisa">
    <div class="titulo-pesquisa">
      easyMusic
    </div>
    <div class="pesquisa">
      Encontre o artista perfeito para o seu evento!
    </div>
    <div class="select-estilo-musical">
      <select class="form-control">
        <option selected disabled>Selecione o estilo musical...</option>
        <option *ngFor="let estilo of estilosMusicais">{{ estilo }}</option>
      </select>
      <button type="button" class="btn btn-light mt-2">Buscar</button>
    </div>
  </div>
</div>